
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Service login form Responsive Widget Template : W3Layouts</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="~/starter/css/style.css" type="text/css" media="all" />

</head>

<body>
    <div class="signinform">
        <h1>Panel Giriş</h1>
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info">
                    <h2>Giriş</h2>
                    @using (Html.BeginForm("AuthorLogin", "Login", FormMethod.Post))
                    {
                        <div class="input-group">
                            <span><i class="fas fa-user" aria-hidden="true"></i></span>
                            <input type="email" name="Mail" placeholder="E-mail" required="">
                        </div>
                        <div class="input-group">
                            <span><i class="fas fa-key" aria-hidden="true"></i></span>
                            <input type="Password" name="Password" placeholder="Şifre" required="">
                        </div>
                        <div class="form-row bottom">
                            <div class="form-check">
                                <input type="checkbox" id="remenber" name="remenber" value="remenber">
                                <label for="remenber"> Beni hatırla</label>
                            </div>
                            <a href="#url" class="forgot">Şifremi unuttum</a>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Giriş Yap</button>
                    }
                    <p class="account">Admin Girişi: <a href="/Login/AdminLogin/">Giriş Yap</a></p>
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->
        <!-- footer -->
        <div class="footer">
            <p>
                Tüm hakları saklıdır &copy; 2023 | Emre Arslan
            </p>
        </div>
        <!-- footer -->
    </div>

    <!-- fontawesome v5-->
    <script src="~/starter/js/fontawesome.js"></script>

</body>

</html>
